<!doctype html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= title || 'App' %>
    </title>
    <link rel="stylesheet" href="/public/styles.css" />
</head>

<body>
    <header class="topbar">
        <div class="container row">
            <h1 class="brand"><a href="/">Contatos</a></h1>
            <nav>
                <% if (currentUser) { %>
                    <span class="muted">
                        <%= currentUser.email %>
                    </span>
                    <a class="btn" href="/contacts/new">+ Novo</a>
                    <a class="btn btn-outline" href="/logout">Sair</a>
                    <% } else { %>
                        <a class="btn" href="/login">Entrar</a>
                        <a class="btn btn-outline" href="/register">Registar</a>
                        <% } %>
            </nav>
        </div>
    </header>


    <main class="container">
        <% if (flash) { %>
            <div class="flash <%= flash.type %>">
                <%= flash.message %>
            </div>
            <% } %>
                <%- body || '' %>
                    <%- typeof content !=='undefined' ? content : '' %>
                        <%- typeof yield !=='undefined' ? yield : '' %>
                            <%- typeof children !=='undefined' ? children : '' %>
    </main>
</body>

</html>